.bgVideo {
    @include size(100%, 34em);
    @include margin(8em, null, null, null);
    position: relative;
    @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        @include margin(8em, null, null, null);
    }
    &__up {
        @include size(100%, 100%);
        @include position(absolute, 0, 0, 0, 0);
        background-color: rgba(0, 0, 0, .4);
        z-index: 1;
        text-align: center;
        &__title {
            @include size(60%, null);
            @include padding(1em, 1em, 1em, 1em);
            @include position(absolute, 36%, null, null, 20%);
            color: #fff;
            h1 {
                @include padding(.5em, null, null, null);
                @include margin(0, auto, .5em, auto);
                
               
            }
            h2 {
                @include margin(0, auto, 0, auto);
                @include padding(null, null, .5em, null);
                text-decoration: underline;
            }
        }
    }
    &__container {
        @include size(100%, 100%);
        @include position(absolute, null, null, null, null);
        text-align: center;
        overflow: hidden;
        video {
            min-width: 100%;
            min-height: 100%;
            @include size(auto, auto);
            z-index: -1;
            overflow: hidden;
        }
    }
}

.btn-primary-new {
    @include padding(.8em, 3em, .8em, 3em);
    background-color: #01a6dc;
    color: #fff;
    border-radius: 50px;
}

.margin-top-4 {
    @include margin(4em, null, null, null);
}
