.cl-primary {
	color: #01a6dc;
}

.bg-cl-red {
	background-color: #e62e00;
}

.bg-cl-blue {
	background-color: #01a6dc;
}

.bg-cl-green {
	background-color: #10b025;
}

.bg-cl-yellow {
	background-color: #FAB822;
}
