.navBar {
    @include size(100%, null);
    @include position(fixed, 0, 0, null, 0);
    @include padding(3.5em, null, 3.5em, null);
    background-color: #fff;
    border-bottom: 2px solid #01a6dc;
    z-index: 9999;
    &__left {
        width: 50%;
        float: left;
        text-align: left;
    }
    &__right {
        width: 50%;
        float: right;
        text-align: right;
    }
    &__logo {
        @include size(6em, null);
        @include calc(left, '50% - 3em');
        top: -2em;
        position: absolute;
    }
    ul {
        @include size(100%, null);
        a {
            color: #01a6dc;
            &:hover,
            &:visited,
            &:active {
                color: #01a6dc;
            }
            li {
                @include margin(null, 4em, null, 4em);
                display: inline-block;
            }
        }
    }
    @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        @include padding(4em, null, 4em, null);
        .container {
            padding: 0;
            margin: 0;
            width: 100%;
        }
        ul {
            display: none;
            position: absolute;
            top: 4.1em;
            background-color: #fff;
            a {
                li {
                    width: 100%;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    font-size: 1.4em;
                    border-bottom: 1px solid #01a6dc;
                    @include padding(null, 6em, null, 6em);
                    @include margin(null, 0, null, 0);
                    &:after {
                        content: '\f105';
                        font-family: fontAwesome;
                        color: #01a6dc;
                        position: absolute;
                        right: 7em;
                    }
                }
            }
        }
        &__logo {
            @include size(6em, null);
            left: 8em;
            top: -3em;
            position: absolute;
        }
        &__left {
            width: 100%;
            float: none;
            text-align: inherit;
        }
        &__right {
            width: 100%;
            float: none;
            text-align: inherit;
        }
    }
    &__hamburger {
        @include size(4.5em, 4.5em);
        @include position(absolute, -2em, 8em, null, null);
        border: 1px solid #fff;
        margin: 0;
        padding: 0;
        display: none;
        visibility: hidden;
        border-radius: 50%;
        overflow: hidden;
        z-index: 19;
        transition: background 0.3s;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            display: block;
            visibility: visible;
        }
        &:focus {
            outline: none;
        }
        span {
            @include size(null, 2px);
            @include position(absolute, 34px, 15px, null, 15px);
            display: block;
            background: #fff;
            &:after,
            &:before {
                @include size(100%, 2px);
                @include position(absolute, null, null, null, 0);
                display: block;
                content: "";
                background-color: #fff;
            }
            &:before {
                top: -8px;
            }
            &:after {
                bottom: -8px;
            }
        }
        &--effect {
            background-color: #01a6dc;
            span {
                transition: background 0s 0.3s;
                &:before,
                &:after {
                    -webkit-transition-duration: 0.3s, 0.3s;
                    transition-duration: 0.3s, 0.3s;
                    -webkit-transition-delay: 0.3s, 0s;
                    transition-delay: 0.3s, 0s;
                }
                &:before {
                    transition-property: top, transform;
                }
                &:after {
                    transition-property: bottom, transform;
                }
            }
            &.active {
                background-color: #01a6dc;
                span {
                    background: none;
                    &:before {
                        top: 0;
                        -ms-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        -webkit-transition-delay: 0s, 0.3s;
                        transition-delay: 0s, 0.3s;
                        background-color: #fff;
                    }
                    &:after {
                        bottom: 0;
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transition-delay: 0s, 0.3s;
                        transition-delay: 0s, 0.3s;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
